#Contact {
    color: #6b6e6e;
    display: flex;
    flex-direction: column;
}

.contact__box {
    height: 55%;
    width: 100%;
}

.banner {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to left, rgba(149, 47, 120, 0.6), 
    rgba(77, 89, 153, 0.6)), url('../statics/images/banner.jpg');
    background-size: cover;
}

.contact__msg {
    font-size: 45px;
    font-weight: 800;
    color: #ffffff;
}

.contact__msg_2 {
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
}

.contact__info_box {
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contact__info {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.contact__info a {
    text-decoration: none;
    color: #6b6e6e;
}

.contact__info a:hover {
    text-decoration: none;
    color: #F65070;
}

.contact__button_box {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__download_button {
    text-decoration: none;
    text-align: center;
    width: 200px;
    height: 50px;
    border-radius: 35px;
    border: none;
    background-color: #F65070;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.contact__profile_pic_box {
    width: 100%;
    /* height: 200px; */
    display: flex;
    justify-content: center;

}

.contact__profile_picture {
    border-radius: 50%;
    border: solid 4px #eeeeee;
    float: left;
    height: 150px;
    width: 150px;
}

.contact__download_button:hover {
    background-color: #fa6e89;
}

@media screen and (max-width: 700px) {

    .contact__box {
        height: 40%;
        width: 100%;
    }

    .banner {
        background-size:auto;
        background-repeat: no-repeat;
    }
    
    .contact__info_box {
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-top: 2em;

    }

    .contact__info {
  
        display: flex;
        align-items: center;
        font-size: 18px;
        margin-left: 30px;
    }

    .contact__button_box {
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact__msg {
        font-size: 40px;
        font-weight: 800;
        color: #ffffff;
    }
    
    .contact__msg_2 {
        font-size: 20px;
        font-weight: 300;
        color: #ffffff;
    }

  }

