.element{
    flex: 1 1 100%;
    padding: 0.5em;
}

.inner__element{
    background-image: linear-gradient(  rgba(43, 43, 51, 0.3), rgba(0, 0, 0, 0.3)) , url('../statics/images/type10.jpg');
    background-size: cover;
    padding-top: calc(100%/(16/9));
}

.inner__element:hover{
    background-image:  url('../statics/images/type10.jpg');
}

@media screen and (min-width: 480px){
  .element{
    flex: 1 1 50%;
  }
}

@media screen and (min-width: 768px){
    .element{
      flex: 1 1 33%;
    }
}
  
@media screen and (min-width: 980px){
    .element{
      flex: 1 1 25%;
    }
}



.element__desc_box {
    height: 100%;
    width: 100%;
    background:rgba(0, 0, 0, 0.4);
}

.element__desc_text {
    text-align: center;
    color:#ffffff;
    font-size: 23px;
    font-weight: 700;
}