#Projects {
  padding-top: 100px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
}

.projecs__gallery {
  padding-top: 1em;
  padding-bottom: 1em;
  overflow: hidden;
  overflow-y: auto;
  /*display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; */
  /* background-color: #00ff00; */
  /* background-color: #e8e8e8; */
  width: 100%;
  height: 100%;
}

.projecs__inner_gallery {
  display: flex;
  flex-wrap: wrap;
  /* width: 100%;
    height: 100%; */
  /* background-color: #00ff00; */
  /* margin: 0, -0.5em; */
}

.gallery__selected_pro {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #eaeaea;
  color: #6b6e6e;
}

.gallery__left_button {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  cursor: pointer;
}

.gallery__right_button {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.section_title {
  font-size: 45px;
  font-weight: 500;
  color: #3a3e3e;
  padding-bottom: 20px;
  z-index: 10;
}
@media screen and (max-width: 500px) {
  #Projects {
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
    /* padding-bottom: 60px; */
  }
  
}

